.circleButton {
  position: relative;
  background-color: #ffccd3; /* salmon pink */
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
  margin: 5px;
}

.circleButton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.circleButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.circleButton:hover {
  background-color: #f598a6;
}